.container{
    position: relative;
    width: 25%;
    height: 25%;

}
.container img{width: 300px;
    height: 300px;

}
.overlay{
    position:absolute;
    transition: 0.8s ease-in-out;
    height: 300px;
    width: 300px;
    background-color: lightsalmon;
opacity: 0;
left: 50px;
top: 10px;

}
.container:hover .overlay{
    opacity: 0.5;
}